apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}
  labels:
    {{- include "zigbee2mqtt.labels" . | nindent 4 }}
stringData:
  configuration.yaml: |
    # Home Assistant integration (MQTT discovery)
    homeassistant: true

    # allow new devices to join
    permit_join: {{ .Values.config.permitJoin }}

    # MQTT settings
    mqtt:
      # MQTT base topic for zigbee2mqtt MQTT messages
      base_topic: {{ .Values.config.mqtt.base_topic }}
      # MQTT server URL
      server: '{{ .Values.config.mqtt.server }}'
      # MQTT server authentication, uncomment if required:
      user: {{ .Values.config.mqtt.username }}
      password: {{ .Values.config.mqtt.password }}

    # Serial settings
    serial:
      # Location of CC2531 USB sniffer
      port: /dev/ttyACM0
      adapter: deconz

    advanced:
      network_key: GENERATE
    
    frontend: true