apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Chart.Name }}
  labels:
    {{- include "zigbee2mqtt.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "zigbee2mqtt.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "zigbee2mqtt.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.nodeName }}
      nodeName: {{ . }}
      {{- end }}
      initContainers:
        - name: create-users
          image: {{ include "zigbee2mqtt.image" . }}
          command:
          - sh
          - -c
          - |
            set -eu
            addgroup "$NAME" -g "$ID"
            adduser "$NAME" -u "$ID" -G "$NAME" -D -H
            cp -rfp /etc/passwd /etc/group /app /tmp/configuration.yaml /init-tmp/
            chown -R "$NAME:$NAME" /init-tmp
          env:
            - name: NAME
              value: zigbee2mqtt
            - name: ID
              value: "1000"
          volumeMounts:
            - name: init-tmp
              mountPath: /init-tmp
            - name: config
              mountPath: /tmp/configuration.yaml
              subPath: configuration.yaml
      containers:
        - name: mosquitto
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          image: {{ include "zigbee2mqtt.image" . }}
          volumeMounts:
            - name: init-tmp
              mountPath: /etc/passwd
              subPath: passwd
            - name: init-tmp
              mountPath: /etc/group
              subPath: group
            - name: init-tmp
              mountPath: /app
              subPath: app
            - name: init-tmp
              mountPath: /app/data/configuration.yaml
              subPath: configuration.yaml
            - name: data
              mountPath: /app/data
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
      volumes:
        - name: init-tmp
          emptyDir: {}
        - name: mosquitto
          emptyDir: {}
        - name: config
          secret:
            secretName: {{ .Chart.Name }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ .Chart.Name }}-data
      securityContext:
        fsGroup: 1000